<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.rest.repository.ArtistDao">
    <select id="selectByArtistId" resultType="Artist">
        SELECT * FROM artists WHERE artist_id = #{artistId}
    </select>
    
    <select id="selectSongsByArtistId" resultType="ArtistSongDto">
        SELECT DISTINCT 
            s.song_id, 
            al.album_id, 
            al.album_image, 
            s.title,
            LISTAGG(a.artist_name, ', ') WITHIN GROUP (ORDER BY a.artist_name) AS artist_name,
            LISTAGG(a.artist_id, ', ') WITHIN GROUP (ORDER BY a.artist_name) AS artist_ids
        FROM 
            songs s
        JOIN 
            albums al ON s.album_id = al.album_id
        JOIN 
            artist_roles ar ON s.song_id = ar.song_id
        JOIN 
            artists a ON ar.artist_id = a.artist_id
        WHERE 
            EXISTS (
                SELECT 1 
                FROM artist_roles ar2 
                WHERE ar2.song_id = s.song_id 
                AND ar2.artist_id = #{artistId}
                AND ar.role_id = 10
            )
        GROUP BY 
            s.song_id, al.album_id, al.album_image, s.title
        ORDER BY 
            s.title
    </select>
    
    <select id="selectAlbumsByArtistId" resultType="ArtistAlbumDto">
        SELECT DISTINCT 
        a.album_id, 
        a.album_name, 
        a.album_image, 
        a.album_type, 
        a.album_release_date, 
        art.artist_name
        FROM albums a
        JOIN songs s ON a.album_id = s.album_id
        JOIN artist_roles ar ON s.song_id = ar.song_id
        JOIN artists art ON ar.artist_id = art.artist_id
        WHERE ar.artist_id = #{artistId}
        ORDER BY a.album_release_date DESC
    </select>
</mapper>