<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.rest.repository.ChartDao">
    
    <!-- 좋아요 개수 확인 -->
    <select id="countLikes" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM likes
        WHERE song_id = #{songId} AND id = #{userId}
    </select>

    <!-- 좋아요 추가 -->
    <insert id="insertLike" parameterType="map">
        INSERT INTO likes (song_id, id)
        VALUES (#{songId}, #{userId})
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="deleteLike" parameterType="map">
        DELETE FROM likes
        WHERE song_id = #{songId} AND id = #{userId}
    </delete>

    <!-- 좋아요 개수 증가 -->
    <update id="incrementLikesCount" parameterType="int">
        UPDATE songs
        SET likes_count = likes_count + 1
        WHERE song_id = #{songId}
    </update>

    <!-- 좋아요 개수 감소 -->
    <update id="decrementLikesCount" parameterType="int">
        UPDATE songs
        SET likes_count = likes_count - 1
        WHERE song_id = #{songId}
    </update>

</mapper>


