<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.rest.repository.SongChartDao">
    
    <!-- 좋아요 개수 확인 -->
    <select id="countSongLikes" resultType="Integer">
        select count(*)
        from likes
        where song_id = #{songId}
    </select>

    <!-- 좋아요 추가 -->
    <insert id="insertSongLike">
        insert into likes (song_id, id)
        values (#{songId}, #{id})
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="deleteSongLike">
        delete from likes
        where song_id = #{songId} and id = #{id}
    </delete>
    
    <!-- TOP30 & 전체 차트-->
    <select id="getAllSongs" resultType="SongChart">
        select
            so.song_id,
            a.album_image,
            a.album_id,
            so.title,
            si.singer_name,
            a.album_name,
            count(l.song_id) as likes,
            so.song_path,
            so.video_link
        from songs so
        join albums a on so.album_id = a.album_id
        join singers si on so.song_id = si.song_id
        join likes l on so.song_id = l.song_id
        group by
            so.song_id, 
            a.album_image,
            a.album_id, 
            so.title, 
            si.singer_name, 
            a.album_name, 
            so.song_path,
            so.video_link
        order by count(l.song_id) desc
    </select>

    <!-- 장르별 차트 -->
    <select id="getSongsByGenre" resultType="SongChart">
        select
            so.song_id,
            so.genre,
            a.album_image,
            a.album_id,
            so.title,
            si.singer_name,
            a.album_name,
            count(l.song_id) as likes,
            so.song_path,
            so.video_link
        from songs so
        join albums a on so.album_id = a.album_id
        join singers si on so.song_id = si.song_id
        join likes l on so.song_id = l.song_id
        where genre = #{genre}
        group by
            so.song_id,
            so.genre, 
            a.album_image,
            a.album_id, 
            so.title, 
            si.singer_name, 
            a.album_name, 
            so.song_path,
            so.video_link
        order by count(l.song_id) desc
    </select>
    
    <!-- 플레이리스트에 곡 추가 -->
    <insert id="addSongToPlaylist">
        insert into playlist_songs (p_list_id, song_id)
        values (#{pListId}, #{songId})
    </insert>
    
    <!-- 사용자 ID로 플레이리스트 조회 
    <select id="getAllPlayListsById" resultType="PlayList">
        select * from playlists where id = #{id}
    </select>
    -->
    
    
</mapper>


