<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.rest.repository.UserDao">

    <!-- userId로 사용자 조회 -->
    <select id="selectByUserId" parameterType="String" resultType="com.itwill.rest.repository.User">
        SELECT * FROM users WHERE user_id = #{userId}
    </select>
    
   <!-- email로 사용자 조회 -->
    <select id="selectByEmail" parameterType="String" resultType="com.itwill.rest.repository.User">
        SELECT * FROM users WHERE email = #{email}
    </select>
    
    <!-- 회원 가입 -->
    <insert id="insert" parameterType="com.itwill.rest.repository.User">
        insert into users (user_id, password, email, nickname, user_profile, hint_question, hint_answer)
        values (#{userId}, #{password}, #{email}, #{nickname}, #{userProfile}, #{hintQuestion}, #{hintAnswer})
    </insert>
    
    <!-- 로그인 -->
    <select id="selectByUserIdAndPassword" resultType="com.itwill.rest.repository.User">
        select * from users
        where user_id = #{userId} and password = #{password}
    </select>

    <select id="selectByUserid" resultType="User">
        select * from users where user_id = #{userid}
    </select>

    <select id="selectLikesByUserid" resultType="UserLike">
        SELECT
        u.user_name,
        u.user_id,
        s.song_id,
        s.title,
        s.song_path,
        s.genre,
        a.album_name,
        a.album_image,
        a.album_type,
        sg.singer_name
        FROM
        users u
        JOIN
        likes l ON u.id = l.id
        JOIN
        songs s ON l.song_id = s.song_id
        JOIN
        albums a ON s.album_id = a.album_id
        LEFT JOIN 
        singers sg ON s.song_id = sg.song_id
        WHERE
        u.user_id = #{userid}
        ORDER BY
        s.title
    </select>

</mapper>
