/* 조하상 */
/* header */
body {
    overflow-x: hidden;
}
header {
    margin-left: 80px;
    margin-top: 42px;
}

#header_logo {
    position: relative;
    left: 0px;
    top: 0px;
    width: 54px;
    height: 26px;
}

nav {
    position: relative;
    left: 45px;
    top: -20px;
}

nav ul li {
    display: inline;
    list-style: none;
    font-size: 16px;
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.header_search_circle {
    width: 350px;
    height: 32px;
    border: 1px solid #bbb;
    border-radius: 30px;
}

.header_search {
    position: relative;
    top: -65px;
    left: 335px;
}

.header_input::placeholder {
    font-size: small;
}

.header_input {
    position: absolute;
    top: 2px;
    left: 38px;
    border-radius: 30px;
    width: 310px;
    height: 28px;
    border: 0px;
    outline: none;
    
}

.header_search img {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 20px;
    height: 20px;
}


.header-right {
    position: relative;
    left: 1050px;
    top: -90px;
}

.header-right ul li {
    display: inline;
    list-style: none;
    font-size: 13px;
    text-align: left;
    margin-left: 15px;
}

.header-right ul li a {
    text-decoration: none;
    color: rgb(140 140 140);
}

#carouselExampleIndicators {
    /*
    position: relative;
    */
    height: 320px;
    width: 955px;
    background-color: #444E62;
    border-radius: 8px;
    /*
    left: 280px;
    top: -60px;
    */
    margin: -60px auto 60px auto;
}

/* .carousel-control-prev {
    position: absolute;
    left: -37px;
    top: 143px;
}

.carousel-control-next {
    position: absolute;
    left: 972px;
    top: 143px;
} */


.carousel-inner {
    height: 100%;
    width: 100%;
}

.header_introduce {
    position: absolute;
    left: 40px;
    top: 45px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    width: 210px;
    height: 64px;
}

.header_introduce_2{
    position: absolute;
    left: 40px;
    top: 140px;
    color: white;
    font-size: 14px;
}

.header_img1 {
    position: absolute;
    left: 42px;
    top: 225px;
    width: 50px;
    height: 50px;
}

.header_img3 {
    position: absolute;
    left: 970px;
    top: 140px;
}

.header_img4 {
    position: absolute;
    left: 320px;
    top: 42px;
    width: 43px;
    height: 43px;
}

.header_img5 {
    position: absolute;
    left: 320px;
    top: 105px;
    width: 43px;
    height: 43px;
}

.header_img6 {
    position: absolute;
    left: 320px;
    top: 168px;
    width: 43px;
    height: 43px;
}

.header_img7 {
    position: absolute;
    left: 320px;
    top: 231px;
    width: 43px;
    height: 43px;
}

.header_img8 {
    position: absolute;
    left: 624px;
    top: 42px;
    width: 43px;
    height: 43px;
}

.header_img9 {
    position: absolute;
    left: 624px;
    top: 105px;
    width: 43px;
    height: 43px;
}

.header_img10 {
    position: absolute;
    left: 624px;
    top: 168px;
    width: 43px;
    height: 43px;
}

.header_img11 {
    position: absolute;
    left: 624px;
    top: 231px;
    width: 43px;
    height: 43px;
}

#header_int1 {
    position: absolute;
    left: 390px;
    top: 40px;
}

#header_int2 {
    position: absolute;
    left: 390px;
    top: 110px;
}

#header_int3 {
    position: absolute;
    left: 390px;
    top: 170px;
}

#header_int4 {
    position: absolute;
    left: 390px;
    top: 230px;
}

#header_int5 {
    position: absolute;
    left: 690px;
    top: 40px;
}

#header_int6 {
    position: absolute;
    left: 690px;
    top: 110px;
}

#header_int7 {
    position: absolute;
    left: 690px;
    top: 170px;
}

#header_int8 {
    position: absolute;
    left: 690px;
    top: 230px;
}

.header_title {
    text-align: left;
    font-size: 15px;
    color: white;
}

.header_singer {
    text-align: left;
    font-size: 12px;
    color: #C0C0C0;
}

/* 문서인 */
/* main1 */
main1 .header {
    width: 975px;
    display:block;
}

main1 .header .todaysong a, main1 .header .daily p{
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
    color:black;
}

main1 .todaysong a:hover {
    color:#3f3fff;
}

main1 .fa-chevron-right {
    color:black;
}



main1 ul {
    list-style: none;
    display: flex;
}

main1 li { padding: 6px }

main1 .select a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

main1 .song2 a, main1 .todaysong a{
    text-decoration: none;
}
  
main1 .image-container1, main1 .image-container2 {
    width: 975px;
    margin-left: auto;
    margin-right: auto;
}

main1 .chart-container {
    width: 975px;
    margin-left: auto;
    margin-right: auto;
}

main1 .song, main1 .chart {
    position: relative;
    width: 175px;
    text-align: left;
    display: inline-block;
    /* float: left; */
    margin-left: 5px;
    margin-right: 5px;
    
}

main1 .mainsong p, main1 .chart-name {
    color :black;
    font-size: 12px;
    margin: 7px;
}

main1 .mainsong .song1 p:nth-child(1), main1 .mainsong .song2 p:nth-child(1){
    margin-bottom: 1px;

}

main1 .mainsong .song1 p:nth-child(2), main1 .mainsong .song2 p:nth-child(2){
    color:grey;
    margin-top: 1px;
}


main1 .songim, main1 .chartim {
    width: 175px;
    height: 175px;
    border-radius: 6px;
}

main1 .song1{
    /* position: relative; */
    overflow: visible;
    display: flex;

    justify-content: space-between;
}
/* 추가 */
main1 .song2, main1 .subchart{
    display: flex;
    justify-content: space-between;
}

main1 .song i {
    background-color:transparent;
    position: absolute;
    border: none;
    bottom: 75px;
    right: 15px;
}

main1 .chart i{
    background-color:transparent;
    position: absolute;
    border: none;
    bottom: 60px;
    right: 15px;
}

main1 .song:hover, main1 .chart:hover{
    filter: brightness(0.75);
}

main1 .fa-chevron-left:hover, main1 .fa-chevron-right:hover, main1 .song p:nth-child(1):hover, main1 .song p:nth-child(2):hover, main1 .chart-name:hover {
    color: #3f3fff;
}

/* 이광호 */
/* main2 */
/* * {
    padding: 0;
    margin: 0;
} */

.main2 .contentContainer {
    width: 955px;
    /* height: 566px; */
    margin: 100px auto;
}

.main2 .contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main2 .contentHeader .top20 p:nth-child(1), .main2 .contentHeader .bestTheme p:nth-child(1){
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
}

.main2 .contentHeader .top20 p:last-child{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #666666;
}

.main2 .fa-angle-left, .main2 .fa-angle-right{
    font-size: 20px;
}

.main2 .fa-angle-left:hover, .main2 .fa-angle-right:hover{
    color: #3f3fff;
}

.main2 .fa-angle-left{
    color: #969696;
    margin-right: 15px;
}

.main2 .subContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


.main2 .mainContainer .top20SubContainer p{
    width: 175px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.main2 .mainContainer .subContainer p:nth-child(2){
    color: #969696;
    font-size: 13px;
}

.main2 .card{
    position: relative;
    border: none;
}

.main2 .thumbNail {
    width: 175px;
    height: 175px;
    border-radius: 6px;
    margin-bottom: 12px;
}

.main2 .thumbNail:hover{
    filter: brightness(0.75);
}

.main2 .up {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: 800;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: #3f3fff;
    color: white;
}

.main2 .bestThemeSubContainer p{
    width: 175px;
    font-size: 15px;
    font-weight: 400;
}

.main2 .bestThemeSubContainer .fa-play{
    position: absolute;
    font-size: 30px;
    bottom: 85px;
    right: 12px;
    color: #ffffff;
}

.main2 .bestThemeSubContainer .fa-play:hover{
    color: blue;
}

.hiddenCard{
    visibility: hidden;
}

/*footer */footer {
    font-family: "Pretend Variable";
    color: gray;
    width: 957px;
    margin: auto;
}

/* 합칠 때 앞에 footer 붙이기
    폰트, 이미지 크기 조정 */

/* 배너 이미지 */
footer .banner {
    height: 170px;
    border-radius: 7px; /* 모서리 둥글게 */
    margin: 60px 0px 60px 0px;
}

footer hr{
    border: 0;
    height: 0.5px;
    background: lightgray;
}

footer ul{
    list-style-type: none;
    vertical-align: top;
}

footer li{
    line-height: 33px;
    text-align: left;
}

footer a {
    text-decoration: none;
    color: gray;
}

footer .link:hover {
    color: blue;
}

/* menu */
footer .menu{
    font-size: 13px;
    margin: 20px 0 20px 0;
}

/* menu 1 */
footer .menu-1 {
    display: inline-block;
    text-align: left;
    width: 191.4px;
    padding: 0px;
}

footer .menu-1 .title {
    color: black;
    font-weight: bolder;
}

/* menu 2 */
footer .menu-2 {
    display: inline-block;
    float: right;
}

footer .menu-2 img {
    height: 15px;
    margin-left: 10px;
}

/* info */
footer .info{
    line-height: 18px;
}

footer .info br{
    line-height: 15px;
}

footer .info .line{
    margin: 2px;
    /* 원본이 더 올라가있음 */
}

/* info 1 */
footer .info-1{
    font-size: 12px;
}

footer .info-1 .bold{
    font-weight: bolder;
}

/* info 2 */
footer .info-2{
    font-size: 11px;
    color: silver;
}

/* info 3 */
footer .info-3{
    font-size: 11px;
}

footer .info-3 .right{
    float: right;
    color: silver;
}
