@charset "UTF-8";

/* popular.css */

/* 테이블 안의 셀 텍스트를 가운데 정렬하는 추가적인 CSS 스타일 */
.table td,
.table th {
    text-align: center;
    vertical-align: middle;
}

/* 곡 정보 행의 레이아웃을 설정하는 CSS */
.song-info {
    display: flex; /* Flexbox를 사용하여 요소들을 행으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.song-info img {
    margin-right: 10px; /* 이미지 오른쪽 여백 추가 */
    flex-shrink: 0; /* 이미지가 축소되지 않도록 설정 */
    max-width: 100px; /* 이미지 최대 너비 설정 */
    height: auto; /* 이미지 높이 자동 조정 */
}

.song-info > div {
    flex-grow: 1; /* 텍스트 컨테이너가 남은 공간을 채우도록 설정 */
}

/* 좋아요 아이콘 스타일 */
.fa-heart {
    color: black; /* 기본 색상 */
    cursor: pointer; /* 포인터로 호버되면 커서 모양 변경 */
    display: inline-block; /* 인라인 요소로 표시 */
}

.fa-heart.liked {
    color: red; /* 좋아요가 눌렸을 때 색상 변경 */
}


